<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>{{ title }}</title>
</head>
<body class="MyBody">
    <nav class="MyNavbar">
        <a class="MyNavbar-logo" href="http://localhost:8080/">COSMOS</a>
        <ul class="MyNavbar-list">
            <li><a href="http://localhost:8080/real">REAL</a></li>
            <li><a href="http://localhost:8080/form">FORM</a></li>
            <li><a href="http://localhost:8080/register">REGISTER</a></li>
            <li><a href="http://localhost:8080/login">LOGIN</a></li>
        </ul>
    </nav>

    {{{ body }}}

    <footer class="MyFooter">
        <h2 class="MyFooter-brand">COSMOS</h2>
    </footer>
</body>
</html>