<main class="Register">
    <h1 class="Register-welcome">SIGNING UP</h1>
    <h3 class="Register-paragraph">Here you can sign up and start ordering!</h3>
    <form class="Register-form">
        <fieldset class="Register-form_box">
            <label for="name">Name</label>
            <input type="text" id="name">
        </fieldset>
        <fieldset class="Register-form_box">
            <label for="photo">Photo</label>
            <input type="text" id="photo">
        </fieldset>
        <fieldset class="Register-form_box">
            <label for="email">Email</label>
            <input type="text" id="email">
        </fieldset>
        <button
            id="register"
            type="button"
            class="Register-button"
        >REGISTER</button>
    </form>
</main>
<script src="/socket.io/socket.io.js"></script>