<main class="Real">
    <h1 class="Real-welcome">REAL TIME VISUALIZER</h1>
    <h3 class="Real-paragraph">See our products in real time!</h3>
    <div 
        class="Real-products"
        id="RealProducts"
    ></div>
</main>
<script src="/socket.io/socket.io.js"></script>
<script src="/real.js"></script>